.field--name-field-titre{
  color: #ffffff;
  font-family: capture, Sans-Serif;
  font-size: 10em;
  margin-left: 130px;
  margin-top : 325px;
  background-attachment: fixed;
}

footer{
  //background-color: #251346 ;
}
.main-container{
  min-width: 97%;
  padding:0;
  margin-top: -66px;
}
article{
  //border-bottom: solid 1px black;
}

.node__content{
  min-height:300px;
}

.velo {

  .node__content {
    height: 1000px;
  }
  .field--name-field-titre{
    font-family: audrey-mediumoblique, Sans-Serif;
    color: white;
    margin-left: 45%;
    margin-top : 125px;
    background: rgba(0, 0, 0, 0.2);
    width:650px;
    padding-left: 25px;
    padding-top: 55px;
    line-height: 0.7em;
    border-radius: 5px;
    &:after{
      content: "dans la main";
      display: block;
      color: #ff5610;
      font-size: 0.3em;
      text-align: right;
      margin-right:45px;
    }
  }
  .box-title{

  }

}

.tuyau {
  .node__content {
    height: 900px;
  }
  .field--name-field-titre{
    margin-left: 130px;
    margin-top : 325px;
  }
}

.orange {
  .node__content {
    height: 320px;
  }
  .field--name-field-titre{
    text-align: center;
    margin-left: 0;
    margin-top : 65px;
    margin-bottom: 25px;
    font-size:3em;
  }
  .field--name-body{
    font-family: raleway-thin,Sans-Serif;
    font-size: 1.2em;
    color:white;
    width: 55%;
    margin:0 auto;
  }
}

.mur {
  .node__content {
    height: 420px;
  }
  .field--name-field-titre{
    margin-left: 5%;
    margin-top : 50px;
  }
  .field--name-body{
    font-family: raleway-semibold,Sans-Serif;
    font-size: 1.2em;
    color:white;
    width: 35%;
    margin-left: 60%;
  }
}

.competences {
  .node__content {
    height: 720px;
  }
  .field--name-field-titre{
    margin-left: 0;
    margin-top : 50px;
    color: #009899;
    font-size:3em;
    text-align: center;
  }
  .field--name-body{
    font-family: raleway-semibold,Sans-Serif;
    font-size: 1.2em;
    color:white;
    width: 35%;
    margin-left: 60%;
  }
  .real{
    width: 55%;
    margin:0 auto;
  }
  img{
    width: 100%;
    margin:0 auto;
  }
}

.realisations {
  .node__content {
    height: 450px;
  }
  .field--name-field-titre{
    margin-left: 0;
    margin-top : 50px;
    color: white;
    font-size:3em;
    text-align: center;
  }
  .field--name-body{
    font-family: raleway-semibold,Sans-Serif;
    font-size: 1.2em;
    color:white;
    width: 35%;
    margin-left: 60%;
  }
  img{
    width:100px;
    margin-bottom: 40px;
    margin-left: 40px;
  }
  .real{
    text-align: center;
    width: 70%;
    margin:70px auto 0;
    line-height: 1.2em;
    //padding-left: 70px;
  }
}

.contact {
  .node__content {
    height: 450px;
  }
  .field--name-field-titre{
    margin-left: 0;
    margin-top : 50px;
    color: white;
    font-size:3em;
    text-align: center;
  }
  .field--name-body{
    font-family: raleway-semibold,Sans-Serif;
    font-size: 1.2em;
    color:white;
    width: 35%;
    margin-left: 60%;
  }
}

.qsn {
  .node__content {
    height: 400px;
  }
  .field--name-field-titre{
    margin-left: 0;
    margin-top : 50px;
    color: #009899;
    font-size:3em;
    text-align: center;
  }
  .field--name-body{
    font-family: raleway-semibold,Sans-Serif;
    font-size: 1.2em;
    color:white;
    width: 35%;
    margin-left: 60%;
  }
}


